name: Flatter

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  flatter:
    name: Flatter
    container:
      image: ghcr.io/andyholmes/flatter/kde:6.10
      options: --privileged
      volumes:
        - /opt/hostedtoolcache:/hostedtoolcache

    strategy:
      matrix:
        include:
          - arch: x86_64
            runner: ubuntu-latest
          - arch: aarch64
            runner: ubuntu-24.04-arm
      fail-fast: false
      # Only one job at a time can use the shared repository cache
      max-parallel: 1

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Free up disk space
        shell: bash
        run: |
          rm -rf /hostedtoolcache/*
          df -h

      # Checkout a repository with Flatpak manifests
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup GPG
        id: gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Install Flatpak dependencies
        run: |
          flatpak install --noninteractive org.freedesktop.Sdk.Extension.openjdk21/${{ matrix.arch }}/25.08
          flatpak install --noninteractive org.freedesktop.Sdk.Extension.openjdk17/${{ matrix.arch }}/25.08
          flatpak install --noninteractive org.freedesktop.Sdk.Extension.openjdk8/${{ matrix.arch }}/25.08
          flatpak install --noninteractive org.kde.Sdk/${{ matrix.arch }}/6.10
          flatpak install --noninteractive org.kde.Platform/${{ matrix.arch }}/6.10

      - name: Build
        uses: andyholmes/flatter@main
        with:
          files: |
            org.unmojang.FjordLauncher/org.unmojang.FjordLauncher.yml
          arch: ${{ matrix.arch }}
          gpg-sign: ${{ steps.gpg.outputs.fingerprint }}
          upload-bundles: true
          upload-pages-artifact: ${{ matrix.arch == 'x86_64' }}
          upload-pages-includes: |
            index.html

  # See "Github Pages" below
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: flatter
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
